img {
    width: 100px;
    height: 150px;
}

.card-body{
    height: 200px;
}

.devider {
    padding: 20px;
}
.carousel-indicators {
    color: black;
}

.carousel-inner {
    color: black;
}

.carousel {
    max-height: 250px;
}

.carousel-item img {
    height: 100px;       
    object-fit: cover;
    position: relative;    
}

.carousel-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    
    padding: 12px 28px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    z-index: 10;
}
.carousel-btn:hover {
    background-color: rgba(0,0,0,0.8);
}

.header{
   padding: 60px;
   text-align: center;
   font-size: 30px;

}

/* --- 6. Recipe & Suggestion Modules (Flexbox) --- */
.brands-list, .suggestion-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.brands-card {
    display: flex;
    flex-direction: column;
    width: 250px; 
    background-color: white; 
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    margin-bottom: 20px;
}

.brands-title {
    order: 1;
    background-color: #E68A00; /* Strong Orange */
    color: #000000;
    padding: 16px;
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.brands-card img {
    width: 100%;
    height: 140px; 
    object-fit: cover;
    display: block;
    margin-top: -5px; 
    border-radius: 0 0 6px 6px;
}

