
.header{
   padding: 60px;
   text-align: center;
   font-size: 30px;

}

/* --- 6. Recipe & Suggestion Modules (Flexbox) --- */
.recipe-list, .suggestion-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    width: 280px; 
    background-color: white; 
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    margin-bottom: 20px;
}

.recipe-title {
    order: 1;
    background-color: #E68A00; /* Strong Orange */
    color: #000000;
    padding: 16px;
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    height: 140px; 
    object-fit: cover;
    display: block;
    margin-top: -5px; 
    border-radius: 0 0 6px 6px;
}

