img {
    width: 100px;
    height: 150px;
}

.card-body{
    height: 200px;
}

.devider {
    padding: 20px;
}
.carousel-indicators {
    color: black;
}

.carousel-inner {
    color: black;
}

.carousel {
    max-height: 200px;
}

.carousel-item img {
    height: 200px;       
    object-fit: cover;
    position: relative;    
}
#camp-supply-image {
    border-radius: 60%;
    height: auto;
    width: 100px;
}

#newsletter-btn {
    height: 40px;
    width: 280px;
    text-align: center;
    font-size: 15px;
    background-color: #778873;
    color: white;
    border-radius: 15px;
    box-shadow: #000000 0px 4px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

.carousel-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);  
    
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.99);
    box-shadow: #000000 0px 4px 8px 0px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
}

.carousel-info {
    position: absolute;
    top: 35%;
    left: 50%;
    box-shadow: #000000 0px 4px 8px 0px;
    background-color: rgba(186, 186, 186, 0.7);
    transform: translate(-50%, -50%);  
    
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    z-index: 10;
}
.carousel-btn:hover {
    background-color: rgba(0,0,0,0.8);
}

.header{
   padding: 60px;
   text-align: center;
   font-size: 30px;

}

/* --- 6. Brands & Suggestion Modules (Flexbox) --- */
.brands-list, .suggestion-list {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.brands-card {
    display: flex;
    flex-direction: column;
    width: 250px; 
    background-color: white; 
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
    margin-bottom: 20px;
    margin: 20px;
    justify-content: center;
}

.brands-title {
    order: 1;
    background-color: #778873; /* Strong Orange */
    color: #000000;
    padding: 16px;
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.brands-card img {
    width: 100%;
    height: 140px; 
    object-fit: cover;
    display: block;
    margin-top: -5px; 
    border-radius: 0 0 6px 6px;
}

/* --- Recommendations and Simon ---*/
.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
  font-kerning: auto;
  color: white
}

.card {
    height: fit-content;
    width: 800px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#simon {
    height: auto;
    width: 100%;
    background-position: top;

}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: auto;
    width: auto;
    margin: 100px;
}


.inner-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

#recommend-card {
    width: 100%;
    height: auto;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#recommend {
    width:100%;
    height: 15vw;
    object-fit: cover;
    position: relative
  
}

 /* --- SHIPPING --- */

 #shipping-title {
    text-align: center;
    align-items: center;
    text-decoration: underline;
}
.shipping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 70px;
}

.shipping h2{
    text-align: center;
    align-items: center;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
}


